@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(
        to right, #F2A663, #BF5D39
    )
}
main{
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(165, 80, 49, 0.753);
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    
    color:#F2A663;
    text-align: center;
    text-shadow: 1px 1px 2px #cc8b52;
    background-color: #96492d;
    width: 600px;
    border-radius: 30px;
    box-shadow: 1px 1px 2px #000000;

}
a{
    color: #96492d;
}
h2{
    color:#BF5D39;
    text-shadow: 1px 1px 2px #96492d;

}
p{
    text-align: justify;
    
}